/* Created by Michal Bukowski (michal.bukowski@tuta.io) under GPL-3.0 license.
   Config file for hg-mapping Nextflow workflow.
   
   Enable usage of conda environments.
*/
conda.enabled = true

/* Maximum CPU cores to be used by the workflow and the executor type.
   Modify according to your own needs, especially when you want to run
   the workflow on an HPC cluster.
*/
executor.$local.cpus = 4
process.executor     = 'local'

/* Paths identyfying locations of conda environments that are used by
   the workflow that should be created using conda/workflow-py.txt and
   conda/workflow-r.txt files prior the workflow execution.
*/
params.condaEnvPy = '/miniconda3/envs/workflow-py'
params.condaEnvR  = '/miniconda3/envs/workflow-r'

/* Maximum threads that one process is allowed to use. Here, all availabe as
   indicated by the executor configuration (see above).
*/
params.maxThreads = 4

/* A path to the workflow input FASTA or FASTQ file that contains read data.
*/
params.readsFile = 'input/library.fa'
/* A path to the workflow input text file that contains TCGA ids.
*/
params.samplesTxtFile = 'input/TCGA_samples.txt'

/* URL path to the directory with Ensembl human genome data (realease 109).
*/
ENS_URL = 'https://ftp.ensembl.org/pub/release-109'
/* Paths identyfying the location of gzipped genomic sequence FASTA file and
   GTF annotation file in subdirectories of ENS_URL location.
   These files are fed to proper workflow channels to be respectively consumed as
   reference sequence for mapping and annotation data the analysis of mapping
   results. See the workflow block of the workflow main.nf file.
*/
params.genomeGtfFile   = ENS_URL + '/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz'
params.genomeFastaFile = ENS_URL + '/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'

/* Path identyfying the location of gzipped genomic sequence FASTA file for
   the Y chromosome only. Feed that path to the workflow entry channel
   to run a quick workflow test on a relatively short reference sequence.
*/
params.chromosomeYFile = ENS_URL + '/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.chromosome.Y.fa.gz'

